@using HVACTopGun.Services.Features.Auth;
@using HVACTopGun.Services.Features.Tenants;
@using HVACTopGun.Services.Features.Users;
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage
@inject IJSRuntime JSRuntime
@inject ITenantService TenantDataService
@inject IUserService UserDataService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAuthService AuthService
<AuthorizeView Policy="Admin">

    <div class="border-opacity-0 flex mx-auto flex items-center justify-between">
            <NavLink class="flex text-sm items-center p-1 hover:underline font-medium text-gray-200 transition duration-75"
                 href="/admin/categories">
                

                <span class="ml-2">Blog Categories</span>
            </NavLink>
        <NavLink class="flex text-sm items-center p-1 hover:underline font-medium text-gray-200 transition duration-75"
                 href="/admin/manage-blogs">
            

            <span class="ml-2">Blog Posts</span>
        </NavLink>
        <NavLink class="flex text-sm items-center p-2 hover:underline font-medium text-gray-200 transition duration-75"
                 href="MicrosoftIdentity/Account/SignOut">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
            </svg>
            <span class="ml-3">Log Out</span>
        </NavLink>
        </div>
</AuthorizeView>
<AuthorizeView>
    
  
         <NotAuthorized>
                <div class="border-opacity-0 mr-3">
                    <NavLink class="inline-flex items-center p-2 hover:underline font-medium text-gray-200 transition duration-75"
                             href="MicrosoftIdentity/Account/SignIn">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                    </svg>
                    <span class=" text-sm ml-3">Log In </span>
                </NavLink>
                </div>

        <a href="MicrosoftIdentity/Account/SignIn" class="md:mt-0 mt-4 inline-flex items-center justify-center h-10 px-5 py-0 text-base font-semibold text-center text-gray-200 no-underline align-middle transition-all duration-300 ease-in-out bg-transparent border-2 border-gray-600 border-solid rounded-md cursor-pointer select-none hover:text-white hover:border-emerald-600 focus:shadow-xs focus:no-underline">
            Get Started
        </a>
           
         </NotAuthorized>
</AuthorizeView>

@code {
    private bool isFirstLogin = true;
    private ClaimsPrincipal User { get; set; }
    private string FirstName { get; set; }
    private string CompanyName { get; set; }
    private int? tenantId;

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;
   
   

        await base.OnInitializedAsync();

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var objectId = authState.User.FindFirstValue("http://schemas.microsoft.com/identity/claims/objectidentifier");
        tenantId = await TenantDataService.GetTenantIdByObjectId(objectId); // Assign the value to the class-level tenantId property
        User = authState.User;
        FirstName = User.FindFirstValue("extension_FirstName");
        CompanyName = User.FindFirstValue("extension_CompanyName");
    }
    
     
    
}

