@inherits LayoutComponentBase
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations
@using Microsoft.AspNetCore.Components.Web
@inject ILocalStorageService localStorage


<PageTitle>Blog - HVAC Topgun</PageTitle>
        <div>
		<BlogNav />
        </div>
<div class="">
    <div class="mt-20">
        @Body
    </div>
</div>




@code {
      

}

