@inherits LayoutComponentBase
@inject IJSRuntime JS
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor
@using Microsoft.AspNetCore.Components.Web
@inject ILocalStorageService localStorage


<PageTitle>HVAC Topgun</PageTitle>
<div>

    <LandingNav />
</div>
<div class="">
    <div class="mt-5">
        @Body
        
    </div>
</div>

