
@page "/"
@using HVACTopGun.Domain.Features.Tenants;
@using Microsoft.AspNetCore.Authentication.OpenIdConnect;
@using Syncfusion.Blazor.Navigations
@using Microsoft.Identity.Web
@inject AuthenticationStateProvider AuthState
@inject NavigationManager Navigation
@using System.Security.Claims;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.Extensions.DependencyInjection;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Identity;


<PageTitle>HVAC TopGun</PageTitle>
<ChatBot />
<div class="relative isolate mt-15">
    @* <img src="/images/bg_attic_hvac_tech_Background2.png" alt="" class="opacity-30 absolute inset-0 -z-10 h-full w-full object-cover"> *@
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)" />
    </svg>
    <div class="mx-auto max-w-7xl mt-10 px-5 py-30 sm:py-25 lg:flex lg:items-center lg:gap-x-10 lg:px-7 lg:py-29">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
        <div class="flex">
          <div class="relative mt-10 flex items-center gap-x-4 rounded-full px-4 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            <span class="font-bold text-sky-500">Coming Soon</span>
            <span class="h-4 w-px bg-gray-900/10" aria-hidden="true"></span>
                    <a href="MicrosoftIdentity/Account/SignIn" class="flex items-center gap-x-1">
              <span class="absolute inset-0" aria-hidden="true"></span>
                       
                            <span class="inline-flex items-center space-x-2 text-sm font-medium leading-6 text-gray-700 hover:underline hover:text-emerald-600">

                                <span> Build Phase Access<!--TEXT for Top--></span>

                            </span>
                   
              <svg class="-mr-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
              </svg>
            </a>
          </div>
        </div>
            <h1 class="mt-7 text-4xl font-extrabold tracking-tight text-gray-900 sm:text-6xl">Maximize Sales, Minimize Hassle, Impress Customers</h1>
            <p class="mt-5 text-lg leading-8 text-bold text-gray-600">All-in-one HVAC business tool that <strong class="underline decoration-2 decoration-sky-500">boosts sales. </strong></p>
           

        <div class="flex mt-10">
                <!-- Begin Mailchimp Signup Form -->

                <div id="mc_embed_signup" class="">
                   
                    <form action="https://hvaccoder.us21.list-manage.com/subscribe/post?u=df2e5e77decf6cfdd7e4658b7&amp;id=883f905729&amp;f_id=005cd6e6f0"
                          method="post"
                          id="mc-embedded-subscribe-form"
                          name="mc-embedded-subscribe-form"
                          class="validate mt-6"
                          target="_self">

                        <div class="grid grid-cols-1 gap-3 " id="mc_embed_signup_scroll">
                           
                        
                            <label for="email-address" class="sr-only">Email Address</label>
                            <div class="sm:flex-shrink-0">
                                <p class="text-base text-gray-600 mb-3">
                                    <br />
                                    Sign up to get notified when it’s ready.
                                </p>
                                <input type="email" value=""
                                       placeholder="Your Email"
                                       name="EMAIL"
                                       class="lg:w-64 appearance-none border-0 bg-white/5 px-3 py-2.5 text-base text-gray-600 shadow-lg
                            ring-1 ring-inset ring-black/30 placeholder:text-gray-500 focus:ring-2 focus:ring-inset focus:ring-sky-300
                            sm:w-64 sm:text-sm sm:leading-6 " id="mce-EMAIL" required>
                                <button type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe"
                                        class="bg-sky-500 px-3 py-3 text-sm font-semibold text-white shadow-lg hover:bg-sky-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500">
                                    Notifiy Me
                                </button>
                                <p class="mt-1 text-sm text-gray-300">
                                     <a href="/privacy">We respect privacy and have a no spam policy.
                                    </a>
                                </p>
                            </div>
                         
                            <div class="mt-1 mx-auto sm:flex-shrink-0">
                            </div>

                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div class="hidden" style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input class="flex w-full items-center justify-center bg-sky-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-sky-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500" type="text" name="b_df2e5e77decf6cfdd7e4658b7_883f905729" tabindex="-1" value="">
                            </div>
                            
                        </div>
                    </form>
                    <div class="flex justify-center text-base leading-8 mt-4 text-bold text-gray-600 ">

                       
                        <img class="h-14 mx-2" src="/images/how it works.jpg" alt="how it works image" />
                    </div>
                    
                    </div>
                
                <!--End mc_embed_signup-->
            </div>
      </div>

      <div class="mt-10 py-10 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
         @*      <img class=" w-[272px] h-[572px] justify-center mx-auto" src="/images/mockup28.png" />   *@
            <svg viewBox="0 0 366 729" role="img" class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl">
            
                <defs>
                    <clipPath id="2ade4387-9c63-4fc4-b754-10e687a0d332">
                        <rect width="316" height="684" rx="36" />
                    </clipPath>
                </defs>
                <path fill="#4B5563" d="M363.315 64.213C363.315 22.99 341.312 1 300.092 1H66.751C25.53 1 3.528 22.99 3.528 64.213v44.68l-.857.143A2 2 0 0 0 1 111.009v24.611a2 2 0 0 0 1.671 1.973l.95.158a2.26 2.26 0 0 1-.093.236v26.173c.212.1.398.296.541.643l-1.398.233A2 2 0 0 0 1 167.009v47.611a2 2 0 0 0 1.671 1.973l1.368.228c-.139.319-.314.533-.511.653v16.637c.221.104.414.313.56.689l-1.417.236A2 2 0 0 0 1 237.009v47.611a2 2 0 0 0 1.671 1.973l1.347.225c-.135.294-.302.493-.49.607v377.681c0 41.213 22 63.208 63.223 63.208h95.074c.947-.504 2.717-.843 4.745-.843l.141.001h.194l.086-.001 33.704.005c1.849.043 3.442.37 4.323.838h95.074c41.222 0 63.223-21.999 63.223-63.212v-394.63c-.259-.275-.48-.796-.63-1.47l-.011-.133 1.655-.276A2 2 0 0 0 366 266.62v-77.611a2 2 0 0 0-1.671-1.973l-1.712-.285c.148-.839.396-1.491.698-1.811V64.213Z" />
                <path fill="#343E4E" d="M16 59c0-23.748 19.252-43 43-43h246c23.748 0 43 19.252 43 43v615c0 23.196-18.804 42-42 42H58c-23.196 0-42-18.804-42-42V59Z" />
                <foreignObject width="316" height="684" transform="translate(24 24)" clip-path="url(#2ade4387-9c63-4fc4-b754-10e687a0d332)">
                    <img src="/images/mockup30.png" alt="mock up hvac topgun app" />
                </foreignObject>
            </svg>
            @* <div class="relative mx-auto border-black dark:border-gray-800 bg-gray-900 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
                <div class="h-[32px] w-[3px] bg-black dark:bg-gray-800 absolute -left-[17px] top-[72px] rounded-l-lg"></div>
                <div class="h-[46px] w-[3px] bg-black dark:bg-gray-800 absolute -left-[17px] top-[124px] rounded-l-lg"></div>
                <div class="h-[46px] w-[3px] bg-black dark:bg-gray-800 absolute -left-[17px] top-[178px] rounded-l-lg"></div>
                <div class="h-[64px] w-[3px] bg-black dark:bg-gray-800 absolute -right-[17px] top-[142px] rounded-r-lg"></div>
                <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
            <img src="/images/mockup-28.png" class="dark:hidden w-[272px] h-[572px]" alt="">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-dark.png" class="hidden dark:block w-[272px] h-[572px]" alt="">
                </div>
            </div>
         *@
      </div>
    </div>
  </div>


<!-- Feature Section -->
<div class=" py-24 sm:py-32" style="
        background-color: rgb(0, 0, 0);
        background-image: radial-gradient(at 0% 77%, rgb(12, 74, 110) 0, transparent 16%), radial-gradient(at 31% 21%, rgb(0, 0, 0) 0, transparent 50%), radial-gradient(at 0% 37%, rgb(24, 24, 27) 0, transparent 70%), radial-gradient(at 100% 80%, rgb(12, 74, 110) 0, transparent 19%), radial-gradient(at 26% 19%, rgb(12, 74, 110) 0, transparent 29%), radial-gradient(at 55% 25%, rgb(12, 74, 110) 0, transparent 35%);
      ">

    <div class=" mx-auto max-w-7xl px-6 lg:px-8">

        <div id="features" class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-lg font-semibold leading-7 text-sky-400">Your Competitive Edge</h2>
            <p class="mt-2 text-5xl font-bold tracking-tight text-white font-weight-900 sm:text-5xl">The HVAC TopGun Advantage</p>
            <p class="mt-6 text-xl leading-8 text-gray-300">Digital Tools Made For HVAC Professionals.</p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
            <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 font-semibold leading-7 text-white text-xl">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             class="h-7 w-7 flex-none text-sky-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                        </svg>

                        Online Booking and Scheduling
                    </dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
                        <p class="flex-auto text-lg">

                            Make it easy for your customers to book appointments. With HVAC TopGun, customers can schedule services directly from your website at any time, enhancing convenience and customer satisfaction. Plug-in included for your website.


                        </p>

                    </dd>
                </div>

                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 font-semibold leading-7 text-white text-xl">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             class="h-7 w-7 flex-none text-sky-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
                        </svg>

                        Invoicing
                    </dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
                        <p class="flex-auto text-lg">
                            Simplify your invoicing process with automated solutions for faster payments and streamlined financial management.
                        </p>

                    </dd>
                </div>
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 font-semibold leading-7 text-white text-xl">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             class="h-7 w-7 flex-none text-sky-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                        </svg>

                        24/7 AI-Powered Customer Support:
                    </dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
                        <p class="flex-auto text-lg">
                            Keep your customer support running around the clock. Our AI-powered system answers inquiries after business hours, ensuring consistent, professional assistance whenever your customers need it.
                        </p>

                    </dd>
                </div>
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 font-semibold leading-7 text-white text-xl">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor"
                             class="h-7 w-7 flex-none text-sky-400">
                            <path strokeLinecap="round" strokeLinejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
                        </svg>

                        Accept Payments
                    </dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
                        <p class="flex-auto text-lg">
                            Securely accept online payments for hassle-free transactions and smoother transactions.
                        </p>

                    </dd>
                </div>

                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 font-semibold leading-7 text-white text-xl">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             class="h-7 w-7 flex-none text-sky-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                        </svg>


                        On-site Sales Tools
                    </dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
                        <p class="flex-auto text-lg">
                            Enhance your on-site sales processes. Our platform aids in presenting service plans, processing payments, and conducting other vital sales activities, right at your fingertips. Make your sales more efficient and effective with HVAC TopGun.
                        </p>

                    </dd>
                </div>
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3  font-semibold leading-7 text-white text-xl">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             class="h-7 w-7 flex-none text-sky-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9zm3.75 11.625a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                        </svg>

                        Real-Time Reporting
                    </dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
                        <p class="flex-auto text-lg">
                            Generate insightful up-to-the-minute data reports for data-driven decision-making and performance evaluation.
                        </p>
                    </dd>
                </div>

                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3 font-semibold leading-7 text-white text-xl">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             class="h-7 w-7 flex-none text-sky-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
                        </svg>

                        Affordable Pricing
                    </dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
                        <p class="flex-auto text-lg">
                            HVAC TopGun provides all these valuable features at a price that's more affordable than existing market solutions. This gives you a competitive edge in the industry.
                        </p>

                    </dd>
                </div>
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3  font-semibold leading-7 text-white text-xl">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             class="h-7 w-7 flex-none text-sky-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                        </svg>

                        Sales and Revenue Tracking
                    </dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
                        <p class="flex-auto text-lg">
                            Stay on top of your business performance. HVAC TopGun enables tracking of sales opportunities, close rates, and other crucial sales metrics. Gain actionable insights to drive your business growth.
                        </p>
                    </dd>
                </div>
                <div class="flex flex-col">
                    <dt class="flex items-center gap-x-3  font-semibold leading-7 text-white text-xl">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             class="h-7 w-7 flex-none text-sky-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                        </svg>

                        Price Book
                    </dt>
                    <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
                        <p class="flex-auto text-lg">
                            Access a comprehensive HVAC price book for transparent and accurate cost estimation.
                        </p>

                    </dd>
                </div>
            </dl>

        </div>
    </div>



</div>
<!-- Problem Section... -->

<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="absolute inset-0 -z-10 overflow-hidden">
        <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
            <defs>
                <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                    <path d="M100 200V.5M.5 .5H200" fill="none" />
                </pattern>
            </defs>
            <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
                <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
            </svg>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
        </svg>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
                <div class="lg:max-w-lg">
                    <p class="text-base font-semibold leading-7 text-sky-600">Current Challenges</p>
                    <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl font-extrabold">The Challenges HVAC Businesses Face Today</h1>
                    <p class="mt-6 text-xl leading-8 text-gray-700">Exploring the Key Obstacles in Modern HVAC Operations</p>
                </div>
            </div>
        </div>
        <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
            <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" src="/images/screen_hvactopgun_demo.jpg" alt="demo">
        </div>
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
                <div class="max-w-xl text-lg leading-7 text-gray-700 lg:max-w-lg">
                    <p><em>In the HVAC industry, businesses encounter specific challenges that can hinder growth and reduce efficiency. </em></p>
                    
                    <ul role="list" class="mt-8 space-y-8 text-gray-600">
                        <li class="flex gap-x-3">
                            <svg class="mt-1 h-5 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                            </svg>
                            <span><strong class="text-xl font-semibold text-gray-900 text-xl">Inefficiency in Scheduling:</strong> In the hustle and bustle of day-to-day operations, it's all too easy for HVAC businesses to struggle with managing schedules. Unoptimized scheduling processes often lead to missed appointments, decreased productivity, and, ultimately, lost revenue.</span>
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="mt-1 h-5 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                            </svg>
                            <span><strong class="font-semibold text-gray-900 text-xl">Inadequate Sales Tools: </strong> When technicians visit homes, they often lack the right tools to present service plans and options to customers effectively. This problem affects conversion rates and customer satisfaction, limiting your business's potential.</span>
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="mt-1 h-5 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                                <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
                            </svg>
                            <span><strong class="font-semibold text-gray-900 text-xl">After-Hours Customer Support: </strong>Servicing customer inquiries outside of regular business hours is another significant challenge. Without a reliable after-hours support system, businesses risk losing potential opportunities and customers.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Solution Section... -->



<!-- USP Section... / WHY US -->


<!-- Features... -->
<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            <div>
                <h2 class="text-base font-semibold leading-7 text-sky-600">Unfair Advantage</h2>
                <p class="mt-2 text-4xl font-extrabold tracking-tight text-gray-900 sm:text-6xl">Systemizing HVAC Operations</p>
                <p class="mt-6 text-xl leading-7 text-gray-600">We merge technological sophistication with affordability, giving you the ultimate unfair advantage.</p>
            </div>
            <dl class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 sm:grid-cols-2 lg:gap-y-16">
                <div class="relative pl-9 text-xl">
                    <dt class="font-bold text-gray-900">
                        <svg class="absolute left-0 top-1 h-5 w-5 text-sky-500 font-extrabold" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Affordability of Square
                    </dt>
                    <dd class="mt-2 text-lg">
                        Redefine your business operations without burning a hole in your pocket. HVAC TopGun offers affordability akin to Square, providing a robust yet cost-effective solution that fits the budget of small and medium-sized HVAC businesses.


                    </dd>
                </div>
                <div class="relative pl-9 text-xl">
                    <dt class="font-bold text-gray-900">
                        <svg class="absolute left-0 top-1 h-5 w-5 text-sky-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Sales Tools
                    </dt>
                    <dd class="mt-2 text-lg">
                        Experience the sales-boosting power of Salesforce tailored specifically for the HVAC industry. HVAC TopGun offers advanced sales tools to track sales opportunities, close rates, and other crucial sales metrics, providing you with the insights needed for sustainable business growth.
                        
                    </dd>
                </div>
                <div class="relative pl-9 text-xl">
                    <dt class="font-bold text-gray-900">
                        <svg class="absolute left-0 top-1 h-5 w-5 text-sky-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Convenience of OpenTable
                    </dt>
                    <dd class="mt-2 text-lg">
                        HVAC TopGun streamlines your appointment management with the convenience of OpenTable. Offer your customers the ability to book their appointments online, any time of the day, boosting your accessibility and improving customer experience.
                        
                    </dd>
                </div>
                <div class="relative pl-9 text-xl">
                    <dt class="font-bold text-gray-900">
                        <svg class="absolute left-0 top-1 h-5 w-5 text-sky-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Customer Support like Intercom
                    </dt>
                    <dd class="mt-2 text-lg">
                        Never let a customer query go unanswered again! HVAC TopGun's AI-driven customer support operates round-the-clock, ensuring that your customers are always catered to, even after regular business hours.

                    </dd>
                </div>
                <div class="relative pl-9 text-xl">
                    <dt class="font-bold text-gray-900">
                        <svg class="absolute left-0 top-1 h-5 w-5 text-sky-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        All-In-One
                    </dt>
                    <dd class="mt-2 text-lg">
                        HVAC TopGun integrates all these features seamlessly, creating an all-in-one platform that simplifies, systemizes, and scales your HVAC business. It's more than just a tool - it's a game changer for your HVAC operations.
                        </dd>
                </div>
                
            </dl>
        </div>
    </div>
</div>

<div class="bg-black py-20 overflow-hidden ">
    
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 overflow-hidden ">
        <div class="relative isolate overflow-hidden bg-black border-sky-600 px-6 py-20 sm:rounded-3xl sm:px-10 
            sm:py-24 lg:py-24 xl:px-24" >
            
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-center lg:gap-y-0">
                <div class="lg:row-start-2 lg:max-w-md">
                    <h2 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl font-extrabold">
                        Streamlined Booking
                        
                        <br>Attracts More Customers.</h2>
                    <p class="mt-6 text-xl leading-8 text-gray-300">
                        Attract a larger customer base and impress your customers.

                    </p>
                </div>
                <img src="/images/customers_computer_small .jpg" alt="Customers" class="relative -z-20 min-w-full max-w-xl rounded-xl shadow-xl ring-1 ring-white/10 lg:row-span-4 lg:w-[64rem] lg:max-w-none" width="2432" height="1442">
                <div class="max-w-xl lg:row-start-3 lg:mt-10 lg:max-w-md lg:border-t lg:border-white/10 lg:pt-10">
                    <dl class="max-w-xl space-y-8 text-base leading-7 text-gray-300 lg:max-w-none">
                        <div class="relative">
                            <dt class="ml-11 inline-block font-semibold text-white text-xl">
                                
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                     class="absolute left-1 top-1 h-7 w-7 text-sky-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 013 3h-15a3 3 0 013-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 01-.982-3.172M9.497 14.25a7.454 7.454 0 00.981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 007.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 002.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 012.916.52 6.003 6.003 0 01-5.395 4.972m0 0a6.726 6.726 0 01-2.749 1.35m0 0a6.772 6.772 0 01-3.044 0" />
                                </svg>

                                Win Customers.
                            </dt>
                            <dd class="pt-1 text-lg"> Give customers the flexibility to book how they want, when they want.</dd>
                        </div>
                        <div class="relative">
                            <dt class="ml-11 inline-block font-semibold text-white text-xl">
                               
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                     class="absolute left-1 top-1 h-7 w-7 text-sky-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>

                                Grab Opportunities.
                            </dt>
                            <dd class=" pt-1 text-lg">
                                With 24/7, responsive, and simple booking that maximizes conversion rates.
                                </dd>
                        </div>
                        <div class="relative">
                            <dt class="ml-11 inline-block font-semibold text-white text-xl">
                                
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                     class="absolute left-1 top-1 h-7 w-7 text-sky-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z" />
                                </svg>

                                Harness Customer Insights.
                            </dt>
                            <dd class="pt-1 text-lg">
                                Unlock valuable insights into your customers' preferences and behaviors, empowering you to amplify successful strategies and achieve greater results.

                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            
        </div>
        
    </div>
</div>




<div class="bg-black isolate overflow-hidden bg-black">
    <div class="mx-auto mt-24 max-w-7xl sm:mt-48 sm:px-6 lg:px-8 mt-10 mb-3 items-center justify-center bg-black">
        <div class="relative isolate overflow-hidden bg-black px-6 py-24 shadow-2xl sm:rounded-3xl sm:px-24 xl:py-32">
            <h2 class="mx-auto max-w-2xl text-center text-3xl font-bold tracking-tight text-white sm:text-4xl">Get notified when we’re launching.</h2>
            <p class="mx-auto mt-2 max-w-xl text-center text-lg leading-8 text-gray-300">Enter your email and we will notify you when we launch.</p>

            <form action="https://hvaccoder.us21.list-manage.com/subscribe/post?u=df2e5e77decf6cfdd7e4658b7&amp;id=883f905729&amp;f_id=005cd6e6f0"
                  method="post"
                  id="mc-embedded-subscribe-form"
                  name="mc-embedded-subscribe-form"
                  class="items-center justify-center validate mt-10"
                  target="_self">

                <div class="grid grid-cols-1 gap-3 justify-center" id="mc_embed_signup_scroll">

                    <label for="email-address" class="sr-only">Email address</label>
                    <div class="mt-4 mx-auto sm:flex-shrink-0">
                        <input type="email" value=""
                               placeholder="Enter Your Email"
                               name="EMAIL"
                               class="lg:w-64 appearance-none rounded-md border-0 bg-white/5 px-3 py-1.5 text-base text-white shadow-sm
                            ring-1 ring-inset ring-white/10 placeholder:text-gray-500 focus:ring-2 focus:ring-inset focus:ring-emerald-500
                            sm:w-64 sm:text-sm sm:leading-6 " id="mce-EMAIL" required>
                    </div>
                    <div class="mt-4 mx-auto sm:flex-shrink-0">
                        <button type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe"
                                class="flex items-center mx-auto justify-center rounded-md bg-sky-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-sky-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500">
                            Notifiy Me
                        </button>
                    </div>

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div class="hidden" style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input class="flex w-full items-center justify-center rounded-md bg-sky-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-sky-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500" type="text" name="b_df2e5e77decf6cfdd7e4658b7_883f905729" tabindex="-1" value="">
                    </div>

                </div>
            </form>

            <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-900 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
                <defs>
                    <pattern id="3096c803-efce-4a18-a601-c2f068f9adf3" width="200" height="200" x="50%" y="-24" patternUnits="userSpaceOnUse">
                        <path d="M.5 200V.5H200" fill="none" />
                    </pattern>
                </defs>
                <svg x="50%" y="-24" class="overflow-visible fill-gray-800/20">
                    <path d="M0 0h201v201h-201Z" stroke-width="0" />
                </svg>
                <rect width="100%" height="100%" stroke-width="0" fill="url(#3096c803-efce-4a18-a601-c2f068f9adf3)" />
            </svg>
            <svg viewBox="0 0 1108 632" aria-hidden="true" class="absolute -right-14 -top-24 -z-10 w-[69.25rem] transform-gpu blur-3xl">
                <path fill="url(#986f4ec8-ca62-4906-a05f-981d15a9baf5)" fill-opacity=".30" d="M235.233 229.055 57.541 310.091.83.615l234.404 228.44L555.251 83.11c-65.036 115.261-134.286 322.756 109.01 230.655C968.382 198.638 1031-19.583 1092.23 172.304c48.98 153.51-34.51 321.107-82.37 385.717L810.952 307.442 648.261 631.576 235.233 229.055Z" />
                <defs>
                    <linearGradient id="986f4ec8-ca62-4906-a05f-981d15a9baf5" x1="1220.59" x2="-85.053" y1="198.898" y2="-7.05" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#7dd3fc" />
                        <stop offset="1" stop-color="#38bdf8" />
                    </linearGradient>
                </defs>
            </svg>
        </div>
    </div>
</div>



<footer class="bg-black" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-screen-xl px-6 py-12 sm:max-w-screen-xl sm:pt-24 lg:max-w-screen-xl lg:px-8 lg:pb-16 lg:pt-24">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div class="space-y-8 xl:col-span-1">
                <img class="h-10" src="/images/logo-dark.png" defer alt="HVAC TopGun Logo">
                <p class="text-base text-gray-400">

                    By choosing HVAC TopGun, you're not just partnering with a software development team; you're joining a community
                    of passionate professionals dedicated to empowering your HVAC business and helping it thrive in a competitive market.
                </p>
                <p class="text-base text-gray-400">Made in Florida, U.S.A. </p>
                <img class="h-10 w-auto " src="../images/114-1144769_veteran-owned-business-florida-veteran-owned-business-logo-300x88.png" defer alt="Veteran Owned Business Image" />

                <div class="flex space-x-6">
                    <a href="https://www.facebook.com/hvactopgun" class="text-gray-500 hover:text-gray-400">
                        <span class="sr-only">Facebook</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
                        </svg>
                    </a>

                    <a href="https://twitter.com/hvactopgun" class="text-gray-500 hover:text-gray-400">
                        <span class="sr-only">Twitter</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                        </svg>
                    </a>
                    <a href="https://www.youtube.com/channel/UC5bLstR32GMs08BsNu_s5xg" class="text-gray-500 hover:text-gray-400">
                        <span class="sr-only">YouTube</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd" d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z" clip-rule="evenodd" />
                        </svg>
                    </a>



                </div>
            </div>
            <div class="mt-12 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                        <h3 class="text-base font-medium text-gray-200">Solutions</h3>
                        <ul role="list" class="mt-4 space-y-4">
                            <li>
                                <a href="#" class="text-base text-gray-400 ">Scheduling</a>
                            </li>
                            <li>
                                <a href="#" class="text-base text-gray-400 ">Dispatch</a>
                            </li>
                            <li>
                                <a href="#" class="text-base text-gray-400 ">AI Chat</a>
                            </li>
                            <li>
                                <a href="#" class="text-base text-gray-400 ">Invoicing</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-12 md:mt-0">
                        <h3 class="text-base font-medium text-gray-200">Support</h3>
                        <ul role="list" class="mt-4 space-y-4">
                            <li>
                                <NavLink href="mailto:support@hvactopgun.com" class="text-base text-gray-400 hover:text-gray-300">Email</NavLink>
                            </li>
                            <li>
                                <a href="#" class="text-base text-gray-400 hover:text-gray-300">Documentation</a>
                            </li>
                            <li>
                                <a href="#" class="text-base text-gray-400 hover:text-gray-300">Guides</a>
                            </li>
                            <li>
                                <p class="text-base text-gray-400"> (321) 307-3178</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                        <h3 class="text-base font-medium text-gray-200">Company</h3>
                        <ul role="list" class="mt-4 space-y-4">
                            <li>
                                <NavLink href="/Company" class="text-base text-gray-400 hover:text-gray-300">About</NavLink>
                            </li>
                            <li>
                                <p class="text-base font-medium text-gray-300">Headquarters</p>
                            </li>
                            <li>
                                <p class="text-base text-gray-400">7901 4Th St. N Ste 4000<br />St. Petersburg, FL 33703 </p>
                            </li>
                            <li>
                                <p class="text-base text-gray-400 hover:text-gray-300"></p>
                            </li>
                            <li>
                                <p class="text-base text-gray-400 hover:text-gray-300"> </p>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-12 md:mt-0">
                        <h3 class="text-base font-medium text-gray-200">Legal</h3>
                        <ul role="list" class="mt-4 space-y-4">

                            <li>
                                <a href="/privacy" class="text-base text-gray-400 hover:text-gray-300">Privacy</a>
                            </li>
                            <li>
                                <NavLink href="/Terms" class="text-base text-gray-400 hover:text-gray-300">Terms</NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-12 border-t border-gray-700 pt-8">
            <p class="text-base text-gray-400 xl:text-center">&copy; 2023 HVAC TopGun LLC All rights reserved.</p>
        </div>
    </div>
</footer>

<AnchorNavigation />
 



@code {
    private string Username = "Anonymous User";
    private string Picture = "";
    private TenantModel loggedInTenant = new TenantModel();
  
  


    protected override async Task OnInitializedAsync()
    {
        
        var authState = await AuthState.GetAuthenticationStateAsync();
        string objectId = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("objectidentifier"))?.Value;
        

        
    }

    
}