@page "/Terms"


<div class="m-20"></div>
<div class="mx-auto my-15 p-20 text-colorblack mt-30">

    <div class="mt-30 mb-10 text-5xl text-black"><h1>Terms of Service for HVAC TopGun</h1> </div>


        <h2>1. Acceptance of Terms</h2><br />
   <p>Welcome to HVAC TopGun ("Service"). By accessing or using our Service, you agree to comply with and be bound by these Terms of Service ("Terms"). If you do not agree with these ems, please do not use the Service.</p>

    <br />
        <h2>2. Description of Servic</h2> <br />
   <p>HVAC TopGun provides a cloud-based software solution designed to assist HVAC business owners in managing their operations, schedlng, invoicing, and other related tasks.</p>
    <br />
        <h2>3. User Account</h2> <br />
   <p>To use our Service, you must create an account. You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete. You are responsible for safeguarding your account credentials and are solely responsible for any activit hat occurs under your account.</p>
    <br />
        <h2>4. Usage and Restriction</h2> <br />
   <p>You agree not to use the Service for any unlawful or unauthorized purpose. You shall not modify, adapt, translate, or reverse engineer any part of the Service. You shall not attempt to gain unauthorized access to any par f the Service or its related systems.</p>
    <br />
        <h2>5. Payment and Subscripton</h2> <br />
        <p>Access to the Servicemay require payment of subscription fees. By subscribing, you authorize us to charge your chosen payment method on a recurring basis until you cancel your subscription. You agre that subscription fees are non-refundable.</p>
       <br />  <h2>6. Data and Privacy</h2> <br />
   <p>We may collect and process certain information about you and your usage of the Service. Please review our Privacy Policy to understand how we handle o data and protect your privacy.</p>
    <br />
        <h2>7. Content Ownershi</h2> <br />
   <p>You retain ownership of the data you upload to the Service. By using the Service, you grant us a non-exclusive, worldwide, royalty-free license to use, reproduce, and distribute your content solely for the purpose o roviding and improving the Service.</p>
    <br />
        <h2>8. Intellectual Propert</h2> <br />
   <p>The Service and its original content, features, and functionality are and will remain the exclusive property of HVAC TopGun. The Service is protectedb copyright, trademark, and other laws.</p>
    <br />
        <h2>9. Terminatio</h2> <br />
   <p>We reserve the right to suspend or terminate your account and access to the Service at our sole discretion, without notice or liability, for any reason icuding breach of these Terms.</p>
    <br />
        <h2>10. Disclaimer</h2> <br />
   <p>The Service is provided "as is" and "as available" without warranties of any kind, either expressed or implied, including but not limited to, implied warranties of merchantability, fitness for a particulrpurpose, or non-infringement.</p>
    <br />
        <h2>11. Limitation of Liabilit</h2> <br />
   <p>In no event shall HVAC TopGun or its directors, employees, partners, or suppliers be liable for any indirect, incidental, special, consequential, or punitive damages, including without limitation, loss of profits, data se, goodwill, or other intangible losses.</p>
    <br />
        <h2>12. Changes to Term</h2> <br />
   <p>We reserve the right to modify or replace these Terms at any time. Your continued use of the Service after any changes constitut cceptance of the modified Terms.</p>
    <br />
        <h2>13. Governing aw</h2> <br />
   <p>These Terms shall be governed and construed in accordance with the laws of the State of Florida, United State of America, without regard oits conflict of law provisions.</p>
    <br />
        <h2>14. Contact Informatio</h2> <br />
   <p>If you have any questions about these Terms, please contact us at support@hvactopgun.com.</p>
    <br />
   <p>By using the Service, you acknowledge that you have read, understood, and agreed to these Terms of Servie.</p>
     <br />
    <p>Effective Date: August 1, 2023</p> <br />
</div>
@code {

}